:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color-scheme: light dark;
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
}
main{
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}
section{
  height: calc(99vh - (55px * 2) - 30px);
  max-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
button{
  width: calc(100% /3 );
  height: calc(100% /6 );
  box-shadow: inset 0 0 0 2px rgba(0,0,0,.3);
  border: none;
  font-size: 18px;
}
span{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50px;
  background-color: darkslategray;
  font-size: 24px;
  
}